*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
	text-decoration: none;
}

.container{
	max-width: 80%;
	margin: 0 auto;
	padding: 0 15px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.active{
	background-color: #048BA8;
}

img{
	width: 100%;
}

main{
	min-height: calc(100vh - 156.891px - 83px);
}

header{
	background-color: #048BA8;
	text-align: center;
}

header img{
	width:96px;
}

.logo-container{
	padding: 12px;
}

nav{
	background-color: #2A2B2E;	
}

nav ul{
	padding: 0px;
	margin: 0px;
}

nav ul li{
	display: inline-block;
	padding: 8px 12px;
	list-style-type: none;
	margin-left: -1px;
	margin-right: -2px;
}

nav ul li a{
	color: #FFFAE3;
	text-transform: uppercase;
	font-size: 1.6rem;
}

#main-content{
	background-color: #FFFAE3;
}

#gallery{
	padding-top: 15px;
	padding-bottom: 15px;
}

#gallery img{
	width: 100%;
	max-height: 320px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: bottom;
}

#gallery .item{
	float: left;
	padding: 15px;
}

#gallery .picture{
	line-height: 0;
}

#about img{
	border-radius: 100%;
	padding: 25px;
}

#about .description p, h1{
	margin: 0;
	padding: 12;
}

#contacts .info p,h1{
	margin: 0;
	padding: 12px;
	text-align: justify;
}

#contacts .contact h1{
	margin: 0;
	padding: 12px;
}

#contacts ul{
	list-style-type: none;
	padding: 12px;
	margin: 0;
}

#contacts ul li{
	margin: auto;
	padding-bottom: 6px;
}

/* #contacts .material-symbols-outlined{
	float:left;
} */

/* #contacts .contact p{
	margin: 0;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
} */

footer.main{
	background-color: #FFFAE3;
	text-align: center;
	padding: 20px;
}


@media only screen and (max-width: 511px){
	#gallery .item{
		width: 100%;
	}
}

@media only screen and (min-width: 512px){
	#gallery .item{
		width: 50%;
	}
}

@media only screen and (min-width: 768px){
	#gallery .item{
		width: 33.333%;
		transition: opacity 0.2s;
	}

	#gallery .item:hover{
		opacity: 0.8;
	}

	#about img{
		padding: 25px;
		width: 70%;
	}

	#about .profile-pic{
		float: left;
		width: 50%;
		padding: 15px;
	}

	#about .description{
		float: right;
		width: 50%;
		padding: 15px;
	}

	#contacts .info{
		float: left;
		width: 75%;
		padding: 15px;
	}

	#contacts .contact{
		float: right;
		width: 25%;
		padding: 15px;
	}

	nav ul li{
		transition: background .2s;
	}

	nav ul li:hover{
		background-color: #048BA8;
	}
}

@media only screen and (min-width: 1024px){
	#gallery .item{
		width: 25%;
	}
}

@media only screen and (min-width: 1280px){
	#gallery .item{
		width: 20%;
	}
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 20;
  font-size: 12px;
}